NODE_ENV=production
NEXT_TELEMETRY_DISABLED=1
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_CONTACT_EMAIL=alshybyyman@gmail.com
NEXT_PUBLIC_GITHUB_URL=https://github.com/Yaman12wqa
NEXT_PUBLIC_LINKEDIN_URL=https://www.linkedin.com/search/results/all/?keywords=YMAN%20ALSHEABE
